.App {
  text-align: center;
}
.hero {
  display: flex;
  flex-direction: column;
  height: 248px;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
  background-image: url("./images/bubbles.jpg");
}
.baby-sit-con {
  display: flex;
  width: 100%;
}
.cubes-con {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cubes {
  width: 50%;
  height: 380px;
}
.baby-sit-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.baby {
  height: 100%;
}
footer {
  border-top: 1px solid rgba(128, 128, 128, 0.616);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.icons {
  display: flex;
  gap: 12px;
}
.icon {
  height: 50px;
}
